jupyterlab
click
pylint
pytest
pytest-cov
black
black[jupyter]
ipykernel
tqdm
python-dotenv
ipywidgets

numpy
pandas
# pyarrow
# fastparquet

# cloud-sql-python-connector
# cloud-sql-python-connector[pg8000]
# SQLAlchemy==2.0.7
# pgvector

transformers
torch
torchvision 
torchaudio
huggingface_hub
accelerate